@w3: "../assets/w3";
@import "@{w3}/w3.less";
@import "@{w3}/w3-theme-amber.less";
body {
    &:extend(.w3-theme-l4);
}

.header {
    &:extend(.w3-row all);
    &:extend(.w3-padding);
    &:extend(.w3-theme-l1);
    &:extend(.w3-xlarge);
    .user-greeting {
        &:extend(.w3-quarter);
        h1 {
            &:extend(.w3-xlarge);
            padding-left: 8px;
        }
    }
    .search-input {
        &:extend(.w3-half);
        input[type="search"] {
            &:extend(.w3-round);
            &:extend(.w3-theme-d1);
            &:extend(.w3-border-0);
            &:extend(.w3-padding);
            width: 100%;
        }
    }
    .space-filler {
        &:extend(.w3-rest);
    }
}

.nav-bar {
    &:extend(.w3-container);
    &:extend(.w3-padding-large);
    &:extend(.w3-theme-l2);
    &:extend(.w3-large);
    &:extend(.w3-card-2);
    * a {
        text-decoration: none;
    }
    .nav-item {
        &:extend(.w3-tag);
        &:extend(.w3-round);
        &:extend(.w3-theme);
        &:extend(.w3-hover-orange all);
        margin-left: 8px;
    }
    .options-btn {
        &:extend(.w3-right);
        &:extend(.w3-round);
        cursor: pointer;
    }
}

.rss-channels-container {
    &:extend(.w3-row-padding);
    .rss-channel-container {
        &:extend(.w3-padding-small);
        &:extend(.w3-col);
        &:extend(.w3-col.m6);
        &:extend(.w3-col.l4);
        &:extend(.w3-section);
        &:extend(.w3-animate-left);
        >div {
            &:extend(.w3-card-4);
        }
        .rss-channel-titlebar {
            &:extend(.w3-container);
            &:extend(.w3-blue);
            .rss-channel-reload-btn {
                &:extend(.w3-right);
                &:extend(.w3-round);
                &:extend(.w3-hover-indigo all);
                padding: 0 7px 0 7px;
                cursor: pointer;
            }
        }
        .rss-feed-container {
            &:extend(.w3-container);
            &:extend(.w3-white);
            height: 450px;
            overflow-y: scroll;
            overflow-x: hidden;
            .rss-feed .feed-item-title {
                margin: 0;
                padding: 0;
            }
            .rss-feed .feed-title>a,
            .rss-feed .feed-item-title>a {
                color: blue;
                text-decoration: none;
            }
            .rss-feed .feed-item-date {
                color: lightslategray;
                font-size: 12px;
            }
        }
    }
}

.rss-notifications-container {
    &:extend(.w3-display-topright);
    .rss-notification {
        &:extend(.w3-panel);
        &:extend(.w3-margin-right);
        &:extend(.w3-lime);
        &:extend(.w3-card-2);
        &:extend(.w3-display-container);
        &:extend(.w3-hide-small);
        width: 315px;
    }
    .rss-notification-content {
        &:extend(.w3-margin-right);
        display: inline-block;
        word-wrap: break-word;
        width: 90%;
    }
    .rss-notification-close-btn {
        &:extend(.w3-round);
        &:extend(.w3-margin-right);
        &:extend(.w3-display-right);
        &:extend(.w3-hover-green all);
        cursor: pointer;
        padding: 0px 4px;
    }
}